[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/themes/start/vim-code-dark"]
	path = .vim/pack/themes/start/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark
[submodule ".vim/pack/vendor/start/coc.nvim"]
	path = .vim/pack/vendor/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
